
@{
    ViewBag.Title = "Yorum Listesi";
}
@model IEnumerable<YakupMyBlog.Models.Comment>



<div class="block">
    <div class="block-heading">
        <div class="main-text h2">
            Yorum Islemleri
        </div>
        <div class="block-controls">
            <a href="/Home/Index" class="btn btn-danger"> Anasayfa</a>


        </div>

        <div class="block-content-outer">
            <div class="block-content-inner">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Yorum Id</th>
                            <th>Kullanıcı Adı</th>
                            <th>Email</th>
                            <th>Yorum</th>
                            <th>Yorum Yaptığı Blog</th>
                            <th>Güncelle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cmt in Model)
                        {

                            <tr>
                                <td>@cmt.CommentId</td>
                                <td>@cmt.Username</td>
                                <td>@cmt.Email</td>
                                <td>@cmt.Thought</td>
                                <td>@cmt.Blog.Title</td>
                                <td><a href="/Comment/Update/@cmt.CommentId" class="btn btn-primary rounded">Güncelle</a></td>
                                <td><a class="btn btn-danger commentSil rounded" data-cid="@cmt.CommentId">Sil</a></td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script src="~/Content/style/js/jquery.min.js"></script>
    <script>
        $(".commentSil").click(function(){
            var result = confirm("Seçili Yorum Silinsin mi?");
            if (result) {
                var cmtid = $(this).data("cid");
                $.ajax({
                    type: "POST",
                    url: "/Comment/Delete/" + cmtid,
                    success: function () {
                        alert("Seçili yorum silinmiştir");
                        window.location.replace("/Comment/CommentList");
                    },
                    error: function () {
                        alert("Ooops bir sorun var!");
                    }
                    

                });
            } else {
                alert("İşlem İptal Edilmiştir!");
            }
        });
    </script>
} 