
@{
    ViewBag.Title = "Blog Ekle";
}

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Blog Ekleme Sayfası
                </div>
                <div class="block-controls">
                    <a class="btn btn-warning rounded" href="/Blog/BlogList"> Blog Listesi </a>

                </div>
            </div>
            <div class="block-content-outer" style="display: block;">
                <div class="block-content-inner">
                    <form action="/Blog/Add" method="post" role="form" enctype="multipart/form-data">
                        @if (Model != null)
                        {
                            <input type="hidden" name="BlogId" value="@Model.BlogId" />
                        }
                        <div class="form-group">
                            <label for="exampleInputEmail1">Blog Başlığı</label>
                            @if (Model == null)
                            {
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Blog başlığı giriniz" name="Title" required>
                            }
                            else
                            {
                                <input type="text" class="form-control" id="exampleInputEmail1" name="Title" value="@Model.Title">
                            }
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">İçerik</label>
                            @if (Model == null)
                            {
                                @*<textarea class="form-control" id="exampleInputPassword1" placeholder="İçerik giriniz" name="Content" required></textarea>*@
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="İçerik giriniz" name="Content" required>
                            }
                            else
                            {
                                <input type="text" class="form-control" id="exampleInputPassword1" value="@Model.Content" name="Content" required>
                                @*<textarea class="form-control" id="exampleInputPassword1" name="Content" asp-for="@Model.Content"></textarea>*@
                            }

                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="UploadDate" readonly>
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="View" readonly>
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="Like" readonly>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Kategori</label>
                            @if (Model == null)
                            {
                                <select name="CategoryID">
                                    @foreach (YakupMyBlog.Models.Category item in ViewBag.Categories)
                                    {
                                        <option value="@item.CategoryId">@item.Name</option>
                                    }
                                </select>
                            }
                            else
                            {
                                <select name="CategoryID">
                                    @foreach (YakupMyBlog.Models.Category item in ViewBag.Categories)
                                    {
                                        <option value="@item.CategoryId">@item.Name</option>
                                    }
                                </select>
                            }

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Resim Ekle</label>
                            @if (Model == null)
                            {
                                <input type="file" class="default" name="fileUpload">
                            }
                            else
                            {
                                <input type="file" class="default" name="fileUpload" value="">
                            }

                        </div>





                        <button type="submit" class="btn btn-primary">Blog Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


